html{
    width: 100%;
    alignment: center;
}

body{
    width: 40%;
    margin: 0 auto;
}

div{
    width: 100%;
}

div.table{
    margin: 10px;
}

div.json_record{
    margin: 10px;
}

#content {
    width: 100%;
    margin: 0 auto;
}

div.form {
    margin-outside: 20px;
    margin: 20px;
    width: 90%;
    margin: 0 auto;
}

textarea{
    min-height: 10cm;
}

