html{
    width: 100%;
    alignment: center;
}

body{
    width: 40%;
    margin: 0 auto;
}

div{
    width: 100%;
    padding: 3px;
}

header{
    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: center;
}

div.table{
    margin: 10px;
    padding: 5px;
}

div.json_record{
    margin: 10px;
    padding: 2px;
}

#content {
    width: 100%;
    margin: 0 auto;
}

div.form {
    margin-outside: 20px;
    margin: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 12px;
}

textarea{
    min-height: 10cm;
}

