{% extends 'index.html' %}

{% block head %}
<title>Home - JsonDb</title>
{% endblock %}

{% block body %}

   <header>
        <h1>JSON DB</h1>
    </header>

    <div class="header">

    <table style="text-align: center; width: 100%">

        <thead>
        <tr>
            <th>Nr of json files</th>
            <th>Nr of all values in all files</th>
        </tr>
        </thead>
        <tbody>
        <tr >
            <td>{{ nr_files }}</td>
            <td>{{ nr_val }}</td>
        </tr>
        </tbody>
    </table>

    </div>

    <div class="table">

    {% for file in files %}
        <div class="json_record">
        {{ file }}
        </div>
    {% endfor %}

    </div>

    <div class="form">

        <form action="/" method="POST" id="my">
            <textarea name="content" id="content" form="my"></textarea>
            <br>
            <input type="submit" id="content" value="Add json">
        </form>

    </div>

{% endblock %}